<div class="modal-header">
	<h3 style="padding:0;" class="modal-title" ng-bind="Comment.heading"></h3>
</div>

<div class="modal-body">
	
	<div>
		<div style=""  class="sign-container">
			<textarea 				
				style="height:100px;width:100%;"	
				ng-model="Comment.rejected.comment"></textarea>
			
		</div>
	</div>
</div>

<div class="modal-footer">
	<button 
		style="color:#fff;" 
		class="btn btn-primary" 
		type="button"
		ng-disabled="!Comment.rejected.comment"
		ng-click="Comment.save()">
		Reject Proposal
	</button>
	<button style="color:#fff;" class="btn btn-inverse" type="button" ng-click="Comment.close()">Cancel</button>
</div>