/* Common */
@-webkit-keyframes asideFadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes asideFadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.asideFadeInLeft {
  -webkit-animation-name: asideFadeInLeft;
  animation-name: asideFadeInLeft;
}
@-webkit-keyframes asideFadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes asideFadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.asideFadeInRight {
  -webkit-animation-name: asideFadeInRight;
  animation-name: asideFadeInRight;
}
@-webkit-keyframes asideFadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes asideFadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.asideFadeInTop {
  -webkit-animation-name: asideFadeInTop;
  animation-name: asideFadeInTop;
}
@-webkit-keyframes asideFadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes asideFadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.asideFadeInBottom {
  -webkit-animation-name: asideFadeInBottom;
  animation-name: asideFadeInBottom;
}
@-webkit-keyframes asideFadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes asideFadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.asideFadeOutLeft {
  -webkit-animation-name: asideFadeOutLeft;
  animation-name: asideFadeOutLeft;
}
@-webkit-keyframes asideFadeOutRight {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes asideFadeOutRight {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.asideFadeOutRight {
  -webkit-animation-name: asideFadeOutRight;
  animation-name: asideFadeOutRight;
}
@-webkit-keyframes asideFadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes asideFadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.asideFadeOutUp {
  -webkit-animation-name: asideFadeOutUp;
  animation-name: asideFadeOutUp;
}
@-webkit-keyframes asideFadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes asideFadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.asideFadeOutDown {
  -webkit-animation-name: asideFadeOutDown;
  animation-name: asideFadeOutDown;
}
.ng-aside {
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0,0,0,0.4) none repeat scroll 0 0;
}
.ng-aside .modal-dialog {
  position: absolute;
  margin: 0;
  padding: 0;
}
.ng-aside.fade .modal-dialog {
  -o-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -webkit-transition: none;
  transition: none;
  /*CSS transforms*/

  -o-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
.ng-aside .modal-dialog .modal-content {
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  border-radius: 0;
}
/* Horizontal */
.ng-aside.horizontal {
  height: 100%;
  background: modal fade ng-isolate-scope ng-aside horizontal right in
}
.ng-aside.horizontal .modal-dialog .modal-content {
  height: 100%;
}
.ng-aside.horizontal .modal-dialog {
  position: absolute;
  top: 0;
  height: 100%;
}
.modal-open .ng-aside.horizontal.left .modal-dialog {
  animation: asideFadeOutLeft 250ms;
  -webkit-animation: asideFadeOutLeft 250ms;
  -moz-animation: asideFadeOutLeft 250ms;
  -o-animation: asideFadeOutLeft 250ms;
  -ms-animation: asideFadeOutLeft 250ms;
}
.ng-aside.horizontal.left.in .modal-dialog {
  animation: asideFadeInLeft 400ms;
  -webkit-animation: asideFadeInLeft 400ms;
  -moz-animation: asideFadeInLeft 400ms;
  -o-animation: asideFadeInLeft 400ms;
  -ms-animation: asideFadeInLeft 400ms;
}
.ng-aside.horizontal.left .modal-dialog {
  left: 0;
}
.ng-aside.horizontal.right .modal-dialog {
  animation: asideFadeOutRight 400ms;
  -webkit-animation: asideFadeOutRight 400ms;
  -moz-animation: asideFadeOutRight 400ms;
  -o-animation: asideFadeOutRight 400ms;
  -ms-animation: asideFadeOutRight 400ms;
}
.ng-aside.horizontal.right.in .modal-dialog {
  animation: asideFadeInRight 250ms;
  -webkit-animation: asideFadeInRight 250ms;
}
.ng-aside.horizontal.right .modal-dialog {
  right: 0;
}
/* Vertical */
.ng-aside.vertical {
  width: 100% !important;
  overflow: hidden;
}
.ng-aside.vertical .modal-dialog {
  left: 0;
  right: 0;
  width: 100% !important;
}
.ng-aside.vertical .modal-dialog .modal-content {
  max-height: 400px;
}
.ng-aside.vertical.top .modal-dialog {
  animation: asideFadeOutUp 250ms;
  -webkit-animation: asideFadeOutUp 250ms;
  -moz-animation: asideFadeOutUp 250ms;
  -o-animation: asideFadeOutUp 250ms;
  -ms-animation: asideFadeOutUp 250ms;
}
.ng-aside.vertical.top.in .modal-dialog {
  animation: asideFadeInTop 250ms;
  -webkit-animation: asideFadeInTop 250ms;
  -moz-animation: asideFadeInTop 250ms;
  -o-animation: asideFadeInTop 250ms;
  -ms-animation: asideFadeInTop 250ms;
}
.ng-aside.vertical.bottom .modal-dialog {
  animation: asideFadeOutDown 250ms;
  -webkit-animation: asideFadeOutDown 250ms;
  -moz-animation: asideFadeOutDown 250ms;
  -o-animation: asideFadeOutDown 250ms;
  -ms-animation: asideFadeOutDown 250ms;
}
.ng-aside.vertical.bottom.in .modal-dialog {
  animation: asideFadeInBottom 250ms;
  -webkit-animation: asideFadeInBottom 250ms;
  -moz-animation: asideFadeInBottom 250ms;
  -o-animation: asideFadeInBottom 250ms;
  -ms-animation: asideFadeInBottom 250ms;
}
.ng-aside.vertical.bottom .modal-dialog {
  bottom: 0;
}
.ng-aside.vertical.top .modal-dialog {
  top: 0;
}
.ng-aside.vertical .modal-dialog .modal-content {
  width: 100%;
}
.ng-aside .modal-dialog {
  width: 70%;
}
.ng-aside .modal-dialog .modal-content {
  overflow: visible;
}
.ng-aside .modal-dialog .modal-content .aside-close-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-box-shadow: 0 8px 6px -6px #eee;
     -moz-box-shadow: 0 8px 6px -6px #eee;
      -ms-box-shadow: 0 8px 6px -6px #eee;
          box-shadow: 0 8px 6px -6px #eee;
}
.ng-aside .modal-dialog .modal-content .aside-close-btn a {
  position: relative;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.ng-aside .modal-dialog .modal-content .aside-close-btn a img {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aside-hide-scroll {
	overflow: hidden;
}
.ng-aside .modal-body {
  overflow: hidden;
  text-align: center;
  display: block;
}
.ng-aside .modal-body.scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
}

.ng-aside .wrpr-html {
  display: inline-block;
  padding-top: 65px;
}
.ng-aside .modal-body .loader {
  text-align: center;
  line-height: 20em;
  z-index: 9;
  position: absolute;
  width: 100%;
  background: #fff;
}
.ng-aside .modal-body .request-loader{
  position: fixed;
  width: 70%;
  bottom: 0;
  top: 0;
  line-height: 50;
  background: rgba(0,0,0, 0.4);
  z-index: 9;
  color: #fff;
}