body{
	background: #f1f1f1 none repeat scroll 0 0;
	color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
img {
	max-width: 100%;
}
.login-container {
    margin: 0 auto;
    max-width: 450px;
    padding: 10% 0 0;
}
.login-container h2 { 
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
}	
.login-wrapper {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px 20px 2px;
}
.login-container .login-header {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 15px;
    text-align: center;
}
.login-container .login-header img {
    width: 300px;
}
.form-horizontal .form-group {
    margin-bottom: 20px;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    color: #555;
    display: block;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857;
    padding: 6px 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-weight: bold;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.form-control:focus {
	border-color: #357ebd;
}
.pull-right {
	float: right;
}
.btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
	-webkit-user-select: none;
			user-select: none;
}
.btn-blue {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
.btn-blue.active, .btn-blue:active, .btn-blue:focus, .btn-blue:hover, .open > .dropdown-toggle.btn-blue {
    background-color: #3071a9;
    border-color: #285e8e;
    color: #fff;
}
.btn-blue.active, .btn-blue:active, .open > .dropdown-toggle.btn-blue {
    background-image: none;
}
.btn-grey {
    background: #6c6c6c none repeat scroll 0 0;
    color: #fff;
}
.btn-grey:hover {
    background: #5f5f5f none repeat scroll 0 0;
}
.btn-grey:active, .btn-grey:focus {
    background: #585858 none repeat scroll 0 0;
}
.alert-msg {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert-msg strong { 
    color: inherit;
}
.alert-msg-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}