.print-header-outer {
    margin-top: 10px;
    overflow: hidden;
  }
  .print-header-wrap {
    float: left;
    width: 100%;
    clear: both;
    color: #333;
  }
  .print-header-wrap .print-logo {
    display: inline-block;
    width: 110px;
    height: 100px;
    text-align: center;
    overflow: hidden;
  }
  .print-header-wrap .print-logo img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  .print-header-wrap .print-modified {
    color: #707070;
    margin: 0;
    text-align: right;
  }
  /* header left */
  .print-header-left {
    float: left;
    width: 60%;
  }
  .print-header-right {
    float: left;
    width: 40%;
  }
  .upper-left-header {
    padding: 0 10px 15px 0;
    height: 140px;
  }
  .header-company-details {
    display: inline-block;
    width: 60%;
    padding-left: 15px;
    vertical-align: top;
  }
  .header-company-details p {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .print-header-left .license-text {
    margin-bottom: 2px;
  }
  .header-company-details p span {
    display: block;
  }
  .header-company-details p:last-child {
    margin: 0;
  }
  .lower-left-header {
    padding: 15px;
    padding-left: 50px;
  }
  .print-header-right {
    padding: 15px 0 15px 15px;
    overflow: hidden;
  }
  .print-header-right h4 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
  }
  .print-header-right .invoice-details p {
    float: left;
    width: 100%;
    clear: both;
  }
  .print-header-right .detail-label {
    float: left;
  }
  .print-header-right .detail-text {
    float: right;
    padding-left: 15px;
  }
  .print-job-detail-row .print-header-left {
    padding: 15px 15px 15px 50px;
  }