body {
	background: #fff;
	margin: 0;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #333;
}
p {
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
.container {
	text-align: left;
	width: 100%;
	margin: auto;
	background: #fff;
	padding:0;
}
.jobs-export {
	padding: 15px;
}
h1 {
	margin: 4px 0;
	font-size: 26px;
	font-weight: normal;
}
.header-part {
	display: inline-block;
	width: 70%;
}
.header-part .date-format {
	font-size: 13px;
	margin: 0;
	margin-top: 3px;
}
.header-part h1 {
	display: inline-block;
	vertical-align: middle;
}
.clearfix {
	clear: both;
}
.main-logo {
	float: right;
}
.main-logo img {
	width: 200px;
	opacity: 0.6; 
}
.company-name {
	font-size: 20px;
	line-height: normal;
	/*max-width: 70%;*/
}
.filters-section h5 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}
.filters-section label {
	color: #333;
	font-size: 18px;
	font-weight: normal;
}
.filters-section label span {
	color: #000;
}
.filters-section label span.trade {
	text-transform: uppercase;
}
.upper-text {
	text-transform: uppercase;
}
.desc {
	margin-right: 15px;
	padding-right: 15px;
}
.customer-desc{
	padding-bottom: 10px;
	text-align: justify;
}
.customer-desc b { 
	margin-bottom: 10px;
	font-size: 18px;
}
.second-part{
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.label {
	border-radius: 0.25em;
	color: #fff;
	display: inline;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	padding: 0.2em 0.6em 0.3em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}
.label-default {
	background-color: #777;
}
.table {
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 20px 0;
	table-layout: fixed;
}
.table tr.page-break {
	border-bottom: 1px solid #ccc;
}
.table tr.page-break table {
	border-collapse: collapse;
	table-layout: fixed;
}
.page-break {
	page-break-inside: avoid;
}
.table th {
	border-bottom: 1px solid #ccc;
}
.table th span {
	font-weight: bold;
}
.table tr.page-break:nth-child(2n+1) {
	background-color: #f9f9f9;
}
.table th, .table tr.page-break td td {
	padding: 10px 3px;
}
.stage i {
	font-style: normal;
}
.company-logo {
	display: inline-block;
	padding-right: 15px;
	vertical-align: middle;
	width: 45px;
}
.company-logo img {
	border-radius: 50%;
	height: 45px;
	width: auto;
	background-color: #fff;
	border: 1px solid #ddd;
	display: inline-block;
	line-height: 1.42857;
	max-width: 100%;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
}
.reps{
	width: 150px;
}
.trades{
	width: 230px;	
}
.legend > span{
	float: right;
	font-size: 18px;
}
.customer-rep-heading{
	white-space: nowrap;
}
.flag{
	display: block;
	margin-top: 5px;
}
.customer-flags{
	margin-bottom: 10px;
}
.job-flags{
	margin-bottom: 5px;
	margin-top: 0;
}
.job-flags span{
	/*margin-bottom: 5px;
	display: inline-block;*/
}
.upcoming-appointment-title {
	display: inline-block;
	margin-bottom: 5px;
	width: 82%;
}
.activity-img{
	width: auto; 
	min-width: 24px; 
	top: 50%;
	height: 24px;
	float: left;
	border-radius: 50%;
	margin-right: 5px;
	background: #ccc;
	text-align: center;
}
.appointment-sr-container{
	padding: 10px 0px; 
	float: left; 
}
.appointment-sr-container .activity-img p{
	padding: 4px 0;
	font-size: 18px;
	color: #333;
}
.job-detail-appointment {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	padding: 10px 0;
	font-size: 18px;
	margin-left: 40px;
}
.job-detail-appointment:last-child {
	border-bottom: none;
}
.text-right{
	float: right;
}
.today-date p{
	text-align: right;
	padding-bottom: 3px;
	/*font-weight: bold;*/
}
.today-date p label {
	color: #333;
}
.location-box{
	display: inline-block;
}
.appointment-desc label, .location-box label {
	/*font-weight: normal;*/
	color: #333;
}
.appointment-container{
	margin-left: 0px;
	padding-left: 0px;
}
.appointment-meta{
	margin-bottom: 5px;
}
.btn-flags {
	border: none;
	color: #fff;
	background: #777;
	font-size: 14px;
	cursor: default;
	height: 17px;
	width: auto;
	line-height: 17px;
	margin-right: 15px;
	position: relative;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.btn-flags:hover {
	color: #fff;
}
td {
	vertical-align: top;
}
.description {  
	text-align: justify;
	white-space: pre-wrap;
}
/*    .assign_to {
	font-weight: bold;
	}*/
.child-page {    
	background: rgba(240, 173, 78, 0.1);   
}
.btn-flags.label-warning { background: #f0ad4e;   }
.jobs-multiproject-btn {
	margin-top: 3px;
}
.jobs-multiproject-btn .btn-flags{
	font-size: 11px;
	padding: 1px 6px;

}

p, span {
	font-weight: normal;
}
label {
	color: inherit;
}
.job-heading {
	/*color: #434343;*/
}
.appointment-container p {
	font-size: 18px;
}
.no-record {
	margin: 50px auto;
	text-align: center;
	font-size: 30px;
	padding: 50px;
}
.appointment-meta .assign_to {
	margin: 3px 0;
}	
.appointment-label {
	float: left; 
	width: 90px;
}
.appointment-span-desc {
	display: block; 
	margin-left: 90px;
}
/*to avoid repeating header*/
thead, tfoot { display: table-row-group }
.cost-information > div {
	line-height: 26px;
}
.job-container .finance-table tr td {
	padding: 10px;
	font-weight: normal;
}
.block-inner {
	padding-bottom: 0;
	font-size: 14px;
}
.job-container .customer-ref {
	display: block;
}
.job-section {
	display: inline-block;
	margin: 0 5px;
}
.job-section label, .job-section span {
	font-size: 14px;
}
.job-container .logo-name {
	margin-top: 4px;
}
.sec-job-info {
	clear: both;
}
.sec-job-info label {
	width: 115px;
	float: left;
}
.sec-job-info span {
	display: block;
	/*margin-left: 115px;*/
}

.sign {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: center;
	border: 1px solid #ccc;
	margin-top: 1px;
}
.sign img {
	max-height: 75%;
	width: auto;
	margin-top: 1px;
}
.sign .sign-date {
	font-size: 10px;
	height: 30px;
	line-height: 18px;
	border-top: 1px solid #ccc;
	margin-top: 3px;
}
.customer-ref span {
	display: inline-block;
	vertical-align: top;
	/*max-width: 74%;*/
}
.job-container .logo-name {
	display: inline-block;
}
.bottom-table {
	font-size: 15px;
	width: 60%;
	float: right;
	margin-top: 0;
}
.bottom-table td {
	padding: 5px !important;
}
.customer-ref .img-section {
	border: 1px solid rgb(204, 204, 204);
	text-align: center;
	height: 130px;
	line-height: 128px;
	width: 128px;
	float: left;
	border-radius: 8px;
}
.customer-ref .img-section img {
	height: auto;
    max-width: 100%;
    max-height: 100%
}
    
.customer-ref .company-info-section {
	width: 49%;
	position: absolute;
	bottom: 0;
	margin-left: 134px;
}
h2.title {
	text-align:center;
	margin-top: 0;
	font-size: 22px;
	margin-bottom: 5px;
	text-transform:uppercase;
	/*word-wrap: break-word;*/
}
.customer-top-margin {
	margin-top: 135px;
}
/* .customer-info-sec {
position: absolute;
right: 15px;
bottom: 0;
}*/
.grid-section {
	font-size: 0px;
	padding-top: 0px;
	display: inline-block;
	margin-bottom: 15px;
	width: 67%;
	min-height: 35px;
}
.grid-section .grid-col {
	display:inline-block;
	font-size:14px;
	text-align:center;
	border:1px solid #ccc;
	padding: 5px 8px;
	margin-top: 5px;
}
.grid-col label {
	margin-bottom:0;
	font-size: 14px;
}
.grid-col span {
	margin-bottom: 0;
}
.billed-box {
	border: 1px solid #ccc;
	min-width: 187px;
	text-align: center;
	margin-top: 5px;
}
.billed-box .main-heading {
	text-align: left;
	font-size: 14px;
}
.billed-box .main-heading p {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 12px;
	margin-bottom: 0;
	background: #666;
	font-weight: bold;
	color: #fff;
}
.billed-box .main-heading span {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 0px;
	padding-right: 10px;
	margin-left: 5px;
	font-weight: bold;
	font-size: 14px;
}
.billed-box h2 { 
	margin: 0;
	padding: 10px 0;
}
.form-title {
	white-space: nowrap;
	font-weight: bold;
}


.phase-structure {
  width: 100%;
  border: 1px solid #ddd;
}
.phase-structure .phase-head {
  background: #ddd;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  font-size: 0;
}
.phase-structure .tiers {
	font-size: 0;
}
.phase-structure .phase-head span,
.phase-structure .tiers span {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  font-weight: bold;
  color: #666;
}
.phase-structure .phase-head span {
	padding: 7px 5px;
}
.phase-structure .tiers span {
	vertical-align: top;
	box-sizing: border-box;
}
.phase-structure .phase-discription {
  width: 16%;
}
.phase-structure .phase-type {
  width: 15%;
}
.phase-structure .phase-sn {
	width: 8%;
}
.phase-structure .phase-name {
  width: 15%;
}
.phase-structure .phase-supplier {
  width: 15%;
}
.phase-structure .phase-qty {
  width: 7.5%;
}
.phase-structure .phase-unit {
  width: 7.5%;
}
.phase-structure .phase-cost {
  width: 10%;
}
.phase-structure .phase-line-amt {
	width: 10%;
}
.phase-structure .phase-tax {
	width: 5%;
}
.phase-structure .phase-tax-amt {
	width: 5%;
}
.phase-structure .phase-profit {
	width: 5%;
}
.phase-structure .phase-profit-amt {
	width: 5%;
}
.phase-structure .phase-tier-header .phase-cost {
	text-align: right;
}
.phase-structure .phase-line-total {
  width: 14%;
  text-align: right;
}
.phase-structure .tiers .phase-bg-color {
    padding: 7px 5px;
	min-height: 35px;
	color: #666;
}
.phase-structure .tiers.tier1 .phase-bg-color {
	background: #65a7e1;
	color: #fff;
}
.phase-structure .tiers.tier2 .phase-bg-color {
	background:  #cbdef3;
	color: #666;
}
.phase-structure .tiers.tier3 .phase-bg-color {
	background:  #e4edf6;
	color: #666;
}
.phase-structure .tiers.tier1 .phase-bg-color.white-bg,
.phase-structure .tiers.tier2 .phase-bg-color.white-bg,
.phase-structure .tiers.tier3 .phase-bg-color.white-bg {
	background: #fff;
	color: #666;
}
.phase-structure .tiers.tier1 .phase-item-feilds span:first-child,
.phase-structure .tiers.tier2 .phase-tier-header span:first-child {
	padding-left: 10px;
}
.phase-structure .tiers.tier2 .phase-item-feilds span:first-child,
.phase-structure .tiers.tier3 .phase-tier-header span:first-child {
	padding-left: 20px;
}
.phase-structure .tiers.tier3 .phase-item-feilds span:first-child {
	padding-left: 30px;
}
.phase-structure .tiers.tier1.root-tier .phase-item-feilds span:first-child {
	padding-left: 0;
}
.phase-structure.notType .phase-discription {
  	width: 31%;
}
.phase-structure.notSupplier .phase-discription {
  	width: 31%;
}
.phase-structure.notType.notSupplier .phase-discription {
  	width: 46%;
}
.phase-structure.notCost .phase-discription {
	width: 36%;
}
.phase-structure.notType.notCost .phase-discription {
	width: 51%;
}
.phase-structure.notSupplier.notCost .phase-discription {
	width: 55%;
}
.phase-structure.notType.notSupplier.notCost .phase-discription {
	width: 64%;
}
.phase-structure.notSupplier.hasTax .phase-discription {
  	width: 21%;
}

/* Has Serial Number conditions*/
.phase-structure.hasSerial.notType .phase-discription {
	width: 23%;
}
.phase-structure.hasSerial.notSupplier .phase-discription {
	width: 23%;
}
.phase-structure.hasSerial.notType.notSupplier .phase-discription {
  	width: 38%;
}
.phase-structure.hasSerial.notCost .phase-discription {
	width: 28%;
}
.phase-structure.hasSerial.notType.notCost .phase-discription {
	width: 43%;
}
.phase-structure.hasSerial.notSupplier.notCost .phase-discription {
	width: 47%;
}
.phase-structure.hasSerial.notType.notSupplier.notCost .phase-discription {
	width: 58%;
}
/*End Has Serial Number conditions*/


/*only description with serial number*/
.phase-structure.hasSerial.onlyDiscription .phase-discription {
    width: 78% !important;
}
.phase-structure.hasSerial.onlyDiscription.hasQty .phase-discription {
    width: 70.5% !important;
}
.phase-structure.hasSerial.onlyDiscription.notLineTotal .phase-discription {
    width: 92% !important;
}
.phase-structure.hasSerial.onlyDiscription.notLineTotal.hasQty .phase-discription {
    width: 84.5% !important;
}
.phase-structure.hasSerial.onlyDiscription.hasTax .phase-discription {
    width: 68% !important;
}
.phase-structure.hasSerial.onlyDiscription.hasQty.hasTax .phase-discription {
    width: 60.5% !important;
}
/*End only description with serial number*/

.phase-structure.notCost .phase-tier-header .phase-discription,
.phase-structure.onlyDiscription.notLineTotal .phase-tier-header .phase-discription {
    width: 100% !important;
}
.phase-structure.onlyDiscription.hasQty .phase-tier-header .phase-discription {
	width: 86% !important;
}
.phase-structure.onlyDiscription.notLineTotal.hasQty .phase-tier-header .phase-discription {
	width: 100% !important;
}
.phase-structure.onlyDiscription .phase-tier-header .phase-discription {
	width: 86% !important;
}

/*only description with multitier*/
.phase-structure.onlyDiscription .phase-discription {
    width: 86% !important;
}
.phase-structure.onlyDiscription.hasQty .phase-discription {
    width: 78.5% !important;
}
.phase-structure.onlyDiscription.notLineTotal .phase-discription {
    width: 100% !important;
}
.phase-structure.onlyDiscription.notLineTotal.hasQty .phase-discription {
    width: 92.5% !important;
}
.phase-structure.onlyDiscription.hasTax .phase-discription {
    width: 76% !important;
}
.phase-structure.onlyDiscription.hasQty.hasTax .phase-discription {
    width: 68.5% !important;
}
/*End only description with multitier*/


.phase-structure .tiers .block .tags {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ddd;
    padding: 2px 3px;
    background: #f5f5f5 !important;
    font-size: 10px;
    margin-bottom: 5px;
}
.phase-structure .tiers .block .tags label {
    margin: 0;
    font-size: 10px;
    color: #000;
}
.phase-structure .tiers .block .tags span {
    font-size: 10px;
    width: 81% !important;
    display: inline;
}

.print-text-field {
	word-wrap:break-word;
}
.item-description {
	white-space: pre-wrap;
}


/*Xactimate New tier*/
.tier-des {
	width: 20%;
}
.tier-qty {
	width: 10%;
}
.tier-unit {
	width: 10%;
}
.tier-price {
	width: 10%;
}
.tier-tax {
	width: 10%;
}
.tier-rcv {
	width: 15%;
}
.tier-depct {
	width: 10%;
}
.tier-acv {
	width: 15%;
	text-align: right;
}
.item-description label {
	color: #333 !important;
}

/*Worksheet New Design*/
.tier-table-body .table td * {
	font-weight: normal;
}
.tier-table-body .table td {
	padding: 0;
}
.tier-table-body .table th {
	padding: 5px;
}
.tier-table-body .table td .tier-inner {
	padding: 5px;
}
.tier-head-color {
	background: #ddd;
}
.tier-table-body .table .tier-type,
.tier-table-body .table .tier-name {
	width: 120px;
}
.tier-table-body .table .tier-sr-number {
	width: 60px;
}
.tier-table-body .table .tier-des {
	width: auto;
}
.tier-table-body .table .tier-price {
	width: 200px;
	text-align: right;
} 
.tier-table-body .table .tier-tax,
.tier-table-body .table .tier-profit {
	width: 150px;
	text-align: right;
}
.tier-table-body .table .tier-qty,
.tier-table-body .table .tier-unit {
	width: 100px;
	text-align: right;
}
.tier-table-body .table .tier-total {
	width: 170px;
	text-align: right;
}
.tier-inner {
	/* border-top: 1px solid #eee; */
}
.tier-des .tier-inner .des {
	white-space: pre-wrap;
}
.tier1 td {
	background: #65a7e1; 
	color: #fff;
	border: 0;
}
.tier2 td {
	background: #cbdef3;
	border: 0; 
}
.tier3 td {
	background: #e4edf6;
	border: 0; 
}
.border0 {
	border: 0 !important;
}
.tier-table td {
	border: 0 !important;
	font-size: 15px;
	font-weight: bold;
}
.margin0 {
	margin: 0 !important;
}
.border-top0 {
	border-top: 0 !important;
}

.tier-des .tier-extra-fields {
	margin-top: 5px;
	display: block;
}
.tier-des .tier-field-block {
    display: inline;
    font-size: 12px;
    margin-right: 10px;
}
.tier-des .tier-field-block label {
	color: #df8080;
}
.tier-content1 td:first-child,
.tier2 td:first-child {
	border-left: 20px solid #fff !important;
}
.tier-content2 td:first-child,
.tier3 td:first-child {
	border-left: 40px solid #fff !important;
}
.tier-content3 td:first-child {
	border-left: 60px solid #fff !important;
}
.text-bold {
	font-weight: bold !important;
}
.total-tier-root {
	border-top: 1px solid #eee;
	background-color: #fafafa;
}
.tier-table-body .table .total-tier-root td {
	padding: 5px;
}

/* srs branch section */
.branch-section {
	margin: 10px 0px;
    font-size: 14px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
}
.ship-address {
	line-height: normal;
}
.ship-address label {
	margin: 0;
}
.page {
		overflow: hidden;
		page-break-before: always;
}
.attachment-container{
	font-size: 0;
}
.attachment-container h2 {
	text-align: center;
	font-size: 20px;
	background: #000;
	color: #fff;
	padding: 5px;
	margin-top: 30px;
}
.attachment-container .attach-images {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	margin-right: 1%;
}
.attachment-container .attach-images:last-child {
	margin-right: 0;
}
.attachment-container p {
	text-align: center;
	font-size: 16px;
	color: #000;
	word-break: break-all;
	margin-top: 50px;
	min-height: 40px;
}
.customer-detail-info-print {
	float: right;
}
.customer-detail-info-print {
	float: right;
	font-size: 16px;
}
.company-detail-info-print {
	display: inline-block;
	font-size: 16px;
}
.company-detail-info-print label, .customer-detail-info-print label {
	line-height: 20px;
	display: block;
}